@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    /* colors */
    --color-white: #FFFFFF;
    --black-color: #000000;
    --primary-color: #FBFDFF03;
    --primary-rgb-color: rgba(251, 253, 255, 0.01);
    --btn-lg: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    --line-color: #0389FF;
    --footer-color: #021728;
    --text-col-clr: #FBFDFF;
    --primary-color: #020D15;
    /* font-family */
    --fm-poppins: "Poppins", sans-serif;
    --fm-sans-racing: "Racing Sans One", sans-serif;
    --fm-imbue: "Imbue", serif;
    --fm-plus-sans: "Plus Jakarta Sans", sans-serif;
    /* style */

    --font-style: italic;
    /* letter spacing */

    --ls-main-heading: 0.2em;
    --ls-hero-text: -1.27px;

    /* font weight */
    --fw-400: 400;
    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-800: 800;
    --fw-700: 700;
    --fw-900: 900;

    /* font-size */
    --fs-10: 10px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-45: 45px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-54: 54px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-100: 100px;
    --fs-157: 157px;


    /* lh */
    --lh-16: 16px;
    --lh-18: 18px;
    --lh-19: 19px;
    --lh-24: 24px;
    --lh-20: 20px;
    --lh-21: 21px;
    --lh-23: 23px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-36: 36px;
    --lh-38: 38px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-46: 46px;
    --lh-49: 49px;
    --lh-54: 54px;
    --lh-56: 56px;
    --lh-60: 60px;
    --lh-62: 62px;
    --lh-68: 68px;
    --lh-71: 71px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-96: 96px;
    --lh-100: 100px;
    --lh-188: 188px;
}

.container_hero {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container_security_trust {
    max-width: 1164px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.container_how_it_works {
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.sol_cont {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.fm_sans_racing {
    font-family: var(--fm-sans-racing);
}

.fm_imbue {
    font-family: var(--fm-imbue);
}

.primary_color {
    background: var(--primary-color);
}

.fm {
    font-family: var(--fm-plus-sans);
}

.-mt_20px {
    margin-top: -20px;
}

.font-style {
    font-style: var(--font-style);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-300 {
    font-weight: var(--fw-300);
}

.fw-800 {
    font-weight: var(--fw-800);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.fw-900 {
    font-weight: var(--fw-900);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-21 {
    font-size: var(--fs-21);
}

.light_white_clr {
    color: var(--text-col-clr);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-54 {
    font-size: var(--fs-54);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-45 {
    font-size: var(--fs-45);
}

.fs-54 {
    font-size: var(--fs-54);
}

.fs-70 {
    font-size: var(--fs-70);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-48 {
    font-size: var(--fs-48);
}

.lh-38 {
    line-height: var(--lh-38);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-100 {
    font-size: var(--fs-100);
}

.fs-157 {
    font-size: var(--fs-157);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-71 {
    line-height: var(--lh-71);
}

.lh-60 {
    line-height: var(--lh-60);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-46 {
    line-height: var(--lh-46);
}

.lh-90 {
    line-height: var(--lh-90);
}

.lh-30 {
    line-height: var(--lh-30);
}

.ls_main {
    letter-spacing: var(--ls-main-heading);
}

.ls_127 {
    letter-spacing: var(--ls-hero-text);
}

.lh-26 {
    line-height: var(--lh-26);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-18 {
    line-height: var(--lh-18);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-35 {
    line-height: var(--lh-35);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-56 {
    line-height: var(--lh-56);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-30 {
    line-height: var(--lh-30);
}

.text_black {
    color: var(--black-color);
}

.lh-32 {
    line-height: var(--lh-32);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-62 {
    line-height: var(--lh-62);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-36 {
    line-height: var(--lh-36);
}

.lh-96 {
    line-height: var(--lh-96);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-83 {
    line-height: var(--lh-83);
}

.back_img {
    position: absolute;

}

.lh-100 {
    line-height: var(--lh-100);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-16 {
    line-height: var(--lh-16);
}

a {
    list-style: none !important;
    text-decoration: none !important;
}

::-webkit-scrollbar {
    display: none;
}

.nav_clr {
    background: var(--primary-rgb-color);
    background-image: url(../image/png/NAV.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid rgba(251, 253, 255, 0.2)
}

.nav_title_pic {
    max-width: 220px;
    height: 38px;
}

.header_pic {
    background-image: url(../image/png/hero_back_img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gap_51px {
    gap: 51px;
}

.button {
    background: var(--btn-lg);
    border-radius: 40px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 32px 0px rgba(111, 111, 113, 0.577);
    transition: all 400ms linear;
}

.button:hover {
    border: 1px solid var(--color-white);
    background: transparent;
    box-shadow: 0px 4px 32px 0px rgba(111, 111, 113, 0.577);
}

.py_13 {
    padding-top: 13px;
    padding-bottom: 13px;
}

.px_32 {
    padding-left: 32px;
    padding-right: 32px;
}

.pt_13px {
    padding-top: 13px;
}

.box_shadow_phone {
    box-shadow: -22px 20px 41px 0px #00000080;
}

.line_color {
    color: var(--line-color);
}

.pt_207px {
    padding-top: 207px;
}

.select_btn {
    border: 1px solid #FBFDFF;
    border-radius: 40px;
    margin-bottom: 48px;
    background: transparent;
}

.pb_56px {
    padding-bottom: 56px;
}

.ps_44px {
    padding-left: 44px;
}

.svg_tick_box {
    width: 20.63px;
    height: 20.63px;
    border-radius: 53.12px;
    background: #0389FF1A;
}

.line_back_color {
    background: var(--line-color);
}

.center_ellipse_pos_2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center_ellipse_pos {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.ellipse_pos_1 {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, -50%);
}

.ellipse_pos_2 {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, 50%);
}

.cursor {
    cursor: pointer;
}


.mt_177px {
    margin-top: 177px;
}

.nav_items {
    position: relative;
    transition: all 400ms linear;
}

.nav_items:hover {
    opacity: 1 !important;
    -webkit-text-stroke: thin;
}

.nav_items::after,
.nav_items::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    transition: all 400ms linear;
}

.nav_items::after {
    bottom: -5px;
    right: 0;
    background: linear-gradient(45deg, #000000, #ffffff);
}

.nav_items::before {
    top: -5px;
    left: 0;
    background: linear-gradient(45deg, #ffffff, #000000);
}

.nav_items:hover::after,
.nav_items:hover::before {
    width: 100%;
}

.span_text {
    color: var(--line-color);
}

.line {
    width: 109.3px;
    height: 2px;
    background: var(--line-color);
}

.box_effect:hover {
    box-shadow: 0px 4px 20px 0px #2746ED80;
}

.right_ellipse {
    position: absolute;
    right: 0;
    top: 0;
}

.left_ellipse {
    position: absolute;
    top: 0;
    left: 0;
}

.left_ellipse_plan_sec {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-40%);
}

.pos_center_ellipse {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: -50%;
    width: 381.48px;
    height: 395.79px;
}

.content_box {
    max-width: 531px;
    min-height: 69px;
    border-radius: 10px;
    background: #0389FF1F;
    backdrop-filter: blur(5px);
    padding: 22.54px;
}

.disp_text {
    display: none;
}

.svg_contain_box {
    max-width: 64px;
    min-height: 64px;
    padding: 16px;
    border-radius: 8px;
    background: #0389FF1A;
    backdrop-filter: blur(5px);
}

.value_box {
    max-width: 400px;
    min-height: 80px;
    padding: 0px 16px 0px 16px;
    border-radius: 10px;
    background: #0389FF1F;
}

.svg_value_box {
    max-width: 51.02px;
    min-height: 52.26px;
    border-radius: 26.13px;
    background: #0389FF1F;
    padding: 13.69px;
}

.content_box_items {
    max-width: 531px;
    min-height: 69px;
    padding: 22.54px;
    border-radius: 10px;
    background: #0389FF1F;
    backdrop-filter: blur(5px);
}

.mt_28px {
    margin-top: 28px;
}

.mt_81px {
    margin-top: 81px;
}

.pt_81px {
    padding-top: 81px;
}

.pb_134px {
    padding-bottom: 134px;
}

.pt_33px {
    padding-top: 33px;
}

.w_h_changes_dash_img {
    max-width: 985.5px;
    min-height: 553.11px;
}

.text_max_w {
    max-width: 617.84px;
    min-height: 54px;
}

.bottom_layer_pos {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.layer_pos {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.pt_110px {
    padding-top: 110px;
}

.pb_110px {
    padding-bottom: 110px;
}

.input {
    border: none;
    outline: none;
}

.border_rad {
    border-radius: 40px;
    background: var(--btn-lg);
    border: none;
}

.dashboard {
    box-shadow: 0px 10px 100px 0px #000000CC;
}

.svg_w_h {
    width: 64px;
    height: 64px;
    background: #0389FF1A;
    border-radius: 14px;
}

.pt_130px {
    padding-top: 130px;
}

.ellipse_adjustment_slider {
    position: absolute;
    top: 0;
    transform: translateY(-70%);
    right: 0;
}

/* the slides */
.slick-slide {
    margin: 0 10px;
}

/* the parent */
.slick-list {
    margin: 0 -10px;
}

.flex_some_prop {
    display: flex;
    align-items: center;
}

.sign_up {
    border: 1px solid transparent;
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
}

.sign_up:hover {
    background: transparent;
    border: 1px solid var(--color-white);
}

/* for Accordion */
.d_none {
    display: none;
}

.accord_flex_prop {
    display: none;
}


.max_w_lorem {
    max-width: 474px;
}

.pt_120px {
    padding-top: 120px;
}

.slick-slide>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li button {
    display: none;
}

.slick-dots li {
    background-color: var(--color-white);
    width: 10px;
    height: 10px;
    border-radius: 28px;
}

.slick-dots {
    bottom: -62px;
}

.slick-dots .slick-active {
    background: var(--line-color);
    width: 53px;
    height: 10px;
    border-radius: 28px;
}

.slider_box {
    /* width: 946px !important; */
    min-height: 253px !important;
    border-radius: 20px;
    background: #0389FF1F;
}

.back_drop {
    backdrop-filter: blur(10px);
    background: #0389FF1A;
    border-radius: 12px;
}

.ellipse_pos {
    top: 50%;
    left: -50%;
    transform: translate(20%, -50%);
}

.back_clr_footer {
    background: var(--footer-color);
}

.pt_100px {
    padding-top: 100px;
}

.max_w_text_footer {
    max-width: 225.82px;
    min-height: 42px;
}

.mt_36px {
    margin-top: 36px;
}

.pt_10px {
    padding-top: 10px;
}

.svg_footer_box {
    width: 32px;
    height: 32px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
}

.image_int_cont {
    min-height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pt_174px {
    padding-top: 174px;
}

.line_bottom {
    width: 100%;
    height: 2px;
    background: rgba(251, 253, 255, 0.2);
}

.max_W_text {
    max-width: 474.98px;
    min-height: 81px;
}

@media (min-width: 1400px) {
    .box {
        max-width: 524px;
        min-height: 165.57px;
    }

    .box_2 {
        width: 515px;
        min-height: 162px;
    }
}

@media (min-width: 1024px) {
    .pos_adjustment {
        position: absolute;
        bottom: -130px;
        left: -98px;
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 1200px) {
    .pos_img_box_3 {
        bottom: 74px;
        left: -136px;
    }

    .pos_img_box_1 {
        bottom: 280px;
        left: -84px;
    }

    .pos_img_box_2 {
        bottom: 179px;
        right: -84px;
    }

    .pos_img_box_4 {
        bottom: -41px;
        right: 108px;
    }

    .d_min_none {
        display: none;
    }
}

@media (max-width: 1200px) and (min-width: 1024.9px) {
    .pos_img_box_3 {
        bottom: 74px;
        left: -15px;
    }

    .pos_img_box_1 {
        bottom: 280px;
        left: -15px;
    }

    .pos_img_box_4 {
        bottom: -41px;
        right: 108px;
    }

    .pos_img_box_2 {
        bottom: 179px;
        right: -15px;
    }

    .d_min_none {
        display: none;
    }
}

@media (max-width: 1024px) {
    .max_lg_none {
        display: none;
    }

    .pos_img_box_1,
    .pos_img_box_2,
    .pos_img_box_4,
    .pos_img_box_3 {
        display: none !important;
    }

    .box_2 {
        max-width: 515px;
    }

    .lg_max_prop {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skyblue_ellipse_img {
        display: none;
    }

}

@media (min-width: 992px) {
    .ver_line {
        position: absolute;
        height: 2px;
        width: 100%;
        background: rgba(251, 253, 255, 0.15);
        top: 28%;
        transform: translateX(-50%);
        left: 50%;
    }

    .hor_line_1 {
        position: absolute;
        width: 2px;
        height: 100%;
        background: rgba(251, 253, 255, 0.15);
        left: 33%;
        transform: translateX(-50%);
    }

    .hor_line_2 {
        position: absolute;
        width: 2px;
        height: 100%;
        background: rgba(251, 253, 255, 0.15);
        right: 33%;
        transform: translateX(-50%);
    }

    .ellipse_image_pos {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 537.69px;
        height: 200.42px;
        /* opacity: 0.3px; */
    }

    .hover_effect:hover .ellipse_image_pos {
        opacity: 1;
    }

    .hover_effect:hover .select_btn {
        background: var(--line-color);
        color: var(--text-col-clr);
        box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
        border: 1px solid transparent;
    }

    .hover_effect:hover .dollar_text {
        color: var(--line-color);
    }

    .input_box {
        width: 520px;
        min-height: 55px;
        padding: 1px 0px 1px 33.71px;
        border-radius: 29px;
        background: rgba(251, 253, 255, 0.07);
    }

    .input {
        width: 65%;
    }

    .int_hor_line_3 {
        position: absolute;
        width: 1px;
        left: 75%;
        height: 100%;
        background: rgba(251, 253, 255, 0.6);
    }

    .int_hor_line {
        position: absolute;
        width: 1px;
        left: 25%;
        height: 100%;
        background: rgba(251, 253, 255, 0.6);
    }

    .int_hor_line_2 {
        position: absolute;
        width: 1px;
        left: 50%;
        height: 100%;
        background: rgba(251, 253, 255, 0.6);
    }

    .int_ver_line {
        position: absolute;
        width: 100%;
        top: 50%;
        height: 1px;
        background: rgba(251, 253, 255, 0.6);
    }

    .slick-list {
        padding: 0 20% 0 20% !important;
    }

    .slick-list {
        overflow: visible;
    }

    .slick-slide:not(.slick-current) {
        opacity: 0.4;
    }
}

@media (max-width:992px) {
    .menuicon {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 4;
    }

    .menuicon span {
        width: 100%;
        height: 3px;
        background: var(--color-white);
    }

    .lg_view {
        position: fixed;
        left: 100%;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(../image/png/hero_back_img.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 3;
        transition: all 400ms linear;
    }

    .d_prop_change {
        flex-direction: column;
    }

    .show {
        left: 0;
    }

    .prop_text {
        width: 350px;
        min-height: 25px;
    }

    .flex_box_prop {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .ellipse_image_pos {
        display: none;
    }

    .h_236px {
        height: 236px;
    }

    .int_hor_line_2 {
        position: absolute;
        width: 1px;
        left: 50%;
        height: 100%;
        background: rgba(251, 253, 255, 0.6);
    }

    .fs_lh_changes_slider {
        font-size: var(--fs-14);
        line-height: var(--lh-24);
    }
}

@media (max-width: 992px) and (min-width: 576px) {
    .content_box {
        width: 531px;
        min-height: 69px;
        border-radius: 10px;
        background: #0389FF1F;
        backdrop-filter: blur(5px);
        padding: 22.54px;
    }

    .svg_contain_box {
        width: 64px;
        min-height: 64px;
        padding: 16px;
        border-radius: 8px;
        background: #0389FF1A;
        backdrop-filter: blur(5px);
    }

    .value_box {
        width: 400px;
        min-height: 80px;
        padding: 0px 16px 0px 16px;
        border-radius: 10px;
        background: #0389FF1F;
    }

    .svg_value_box {
        width: 51.02px;
        min-height: 52.26px;
        border-radius: 26.13px;
        background: #0389FF1F;
        padding: 13.69px;
    }

    .content_box_items {
        width: 531px;
        min-height: 69px;
        padding: 22.54px;
        border-radius: 10px;
        background: #0389FF1F;
        backdrop-filter: blur(5px);
    }

    .flex_prop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .input_box {
        width: 520px;
        min-height: 55px;
        padding: 1px 0px 1px 33.71px;
        border-radius: 29px;
        background: rgba(251, 253, 255, 0.07);
    }

    .input {
        width: 65%;
    }


    .int_hor_line_3 {
        position: absolute;
        width: 100%;
        top: 75%;
        height: 1px;
        background: rgba(251, 253, 255, 0.6);
    }

    .int_hor_line {
        position: absolute;
        width: 100%;
        top: 25%;
        height: 1px;
        background: rgba(251, 253, 255, 0.6);
    }

    .int_ver_line {
        position: absolute;
        width: 100%;
        top: 50%;
        height: 1px;
        background: rgba(251, 253, 255, 0.6);
    }
}

@media (max-width: 991.9px) and (min-width: 768px) {
    .ver_line {
        position: absolute;
        height: 2px;
        width: 100%;
        background: rgba(251, 253, 255, 0.15);
        top: 50%;
        transform: translateX(-50%);
        left: 50%;
    }

    .hor_line_2 {
        position: absolute;
        width: 2px;
        height: 50%;
        background: rgba(251, 253, 255, 0.15);
        right: 50%;
        transform: translateX(-50%);
    }

    .flex_dir_lg {
        flex-direction: column;
    }

    .px_12px {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .slick-list {
        padding: 0 20% 0 20% !important;
    }

    .slick-list {
        overflow: visible;
    }

    .slick-slide:not(.slick-current) {
        opacity: 0.4;
    }
}

@media (max-width: 767.9px) {
    .ver_line {
        position: absolute;
        height: 2px;
        width: 100%;
        background: rgba(251, 253, 255, 0.15);
        top: 31%;
        transform: translateX(-50%);
        left: 50%;
    }

    .ver_line_2 {
        position: absolute;
        height: 2px;
        width: 100%;
        background: rgba(251, 253, 255, 0.15);
        top: 66%;
        transform: translateX(-50%);
        left: 50%;
    }

    .ver_line_3 {
        position: absolute;
        height: 2px;
        width: 100%;
        background: rgba(251, 253, 255, 0.15);
        top: 100%;
        transform: translateX(-50%);
        left: 50%;
    }

    .px_12px {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .col_12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (max-width: 576px) {
    .fs_sm_max_lh_lg_txt {
        font-size: var(--fs-28);
        line-height: var(--lh-35);
    }

    .fs_sm_max_lh_sm_txt {
        font-size: var(--fs-10);
        line-height: var(--lh-16);
    }

    .text-sm-wrap {
        text-wrap: wrap;
    }

    .max_m_0px {
        --bs-gutter-x: 0;
    }


    .container_hero {
        padding: 0;
    }

    .content_box {
        max-width: 1140px;
        min-height: 69px;
        border-radius: 10px;
        background: #0389FF1F;
        backdrop-filter: blur(5px);
        padding: 22.54px;
    }

    .input {
        width: 100%;
    }

    .px_12px {
        padding-left: 12px !important;
        padding-right: 12px !important;
    }

    .svg_contain_box {
        max-width: 1140px;
        min-height: 64px;
        padding: 16px;
        border-radius: 8px;
        background: #0389FF1A;
        backdrop-filter: blur(5px);
    }

    .value_box {
        max-width: 1140px;
        min-height: 80px;
        padding: 0px 16px 0px 16px;
        border-radius: 10px;
        background: #0389FF1F;
    }

    .input_box {
        max-width: 520px !important;
        min-height: 55px;
        padding: 1px 0px 1px 10px;
        border-radius: 29px;
        background: rgba(251, 253, 255, 0.07);
    }

    .svg_value_box {
        max-width: 1140px;
        min-height: 52.26px;
        border-radius: 26.13px;
        padding: 13.69px;
        background: #0389FF1F;
    }

    .content_box_items {
        max-width: 1140px;
        min-height: 69px;
        padding: 22.54px;
        border-radius: 10px;
        background: #0389FF1F;
        backdrop-filter: blur(5px);
    }

    .prop_text {
        width: 320px;
        min-height: 25px;
    }

    .col_12 {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .text_sm_wrap {
        text-wrap: wrap !important;
    }

    .int_hor_line_2 {
        display: none;
    }
}